.register-page {
    width: 400px;
    margin: 50px auto;
    display: block;
    padding: 30px 0;
    h1 {
        font-size: 36px;
        margin: 0 auto 50px;
        text-align: center;
        display: table;
        padding: 0 15px 0 15px;
        &:after,&:before {
            content: "";
            background: #000;
            width: 50px;
            height: 2px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }
    }
    form {
        padding: 30px 30px;
        background: #ffffff82;
        border: 1px solid #ccc;
        .form-group {
            margin: 0 0 20px 0;
            label {
                font-size: 18px;
                color: #000;
                font-family: sans-serif;
                display: block;
                margin: 0 0 3px 0;
            }
            input {
                width: 100%;
                padding: 10px 10px;
                box-sizing: border-box;
                border-radius: 5px;
                outline: none !important;
            }
            .error-message {
                span {
                    color: red;
                    font-family: sans-serif;
                    font-size: 16px;
                }
            }
            .submit-button {
                display: table;
                width: auto;
                margin: 0 auto;
                background: transparent;
                color: #000;
                border: 2px solid #000;
                border-radius: 0;
                padding: 7px 20px;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.5s;
                &:hover {
                    background: #000;
                    color: #fff;
                }
            }
            &:last-child {
                margin: 0;
            }
        }
    }
}